<div class="mainClass">
  <mat-card>
    <mat-card-content>Register
  
<div>
<form class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>User Id</mat-label>
    <input type="number" matInput placeholder="userId" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="ABCD" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="VXYZ" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Roll Number</mat-label>
    <input type="number" matInput placeholder="111" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="password" value="">
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="sendData()">Register</button>

</form>
</div>
</mat-card-content>
</mat-card>

<!-- List -->
<mat-card style="width: 40%; margin-top: 2rem;">
  <mat-card-content>List</mat-card-content>
  <mat-list role="list">
    <mat-list-item *ngFor="let item of dataList" role="listitem">
      <div style="display: flex; align-items: center;">
        <span>{{item.userId}} - {{item.firstName}} - {{item.lastName}} - {{item.rollNumber}}</span>
        <button style="margin: 0 10px" mat-flat-button  color="primary" (click)="updateItem(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button  color="warn" (click)="deleteItem(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-flat-button color="primary" (click)="fetchData()">Fetch Data</button>
</mat-card>


</div>

