<div class="mainClass">
  <mat-card>
    <mat-card-content>Register
  
<div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="ABCD" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="VXYZ" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Roll Number</mat-label>
    <input type="number" matInput placeholder="111" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="password" value="">
  </mat-form-field>

  <button mat-flat-button color="primary">Primary</button>

</form>
</div>
</mat-card-content>
</mat-card>
</div>